.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue-low);
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    padding: 4rem 2rem;
}

.login-box h1 {
    align-self: center;
    padding-bottom: 1rem;
}

.login-box h3 {
    color: var(--gray);
    padding-bottom: 1.5rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    background-color: var(--white);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: var(--black);
    border: none;
}

.input label {
    margin-bottom: 0.5rem;
}

.input button {
    margin: 1rem 0;
    color: var(--black);
    background-color: var(--main-blue);
    border: none;
    min-width: 10rem;
    align-self: center;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 0.75rem 0.75rem;
}

.input a {
    font-size: 1rem;
    align-self: flex-end;
    color: var(--white);
}

.login-error {
    color: var(--red);
    margin-bottom: 1rem;
}
