/** Main section */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    padding: 4rem 0;
}

.post {
    display: flex;
    flex-direction: column;
    min-width: 27rem;
    border: 1px solid var(--white);
    padding: 1rem 0;
}

.post-top {
    display: flex;
}

.content,
.action {
    padding-right: 2rem;
}

.content-text {
    margin: 0.5rem 0 1rem 0;
}

.profil-img {
    width: 3rem;
    height: 3rem;
    border: 3px solid var(--main-blue);
    border-radius: 50%;
    margin: 0 1em;
}

/* Better aspect ratio w/ zoom */
.post-img {
    margin: 0;
    width: auto;
    max-width: 25rem;
    height: auto;
    max-height: 25rem;
}

.action {
    display: flex;
    font-size: 1.25rem;
    padding-top: 1rem;
}

.action {
    justify-content: flex-end;
}

.action a {
    margin: 0 1rem;
    height: 1rem;
}

.action img,
.action a,
.action button {
    margin: 0;
    padding: 0;
}

.action img,
.action a {
    width: 1.5rem;
    height: auto;
    margin-right: 1rem;
}

.post button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.post button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.post button:active {
    outline: none;
    border: none;
}

.post button:focus {
    outline: 0;
}

.post textarea {
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: var(--bg-blue);
    border: none;
    min-width: 20rem;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.comment-box {
    position: relative;
    height: 100%;
}

.comment-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nbLikes {
    justify-self: flex-start;
    margin: 0.3rem auto 0 1rem;
    font-size: 0.9rem;
}

.highlight {
    border: 3px solid var(--main-blue);
    margin-bottom: 1rem;
}

.no-comment {
    margin-top: 1rem;
}
